doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="public/style.css")
        script(type="text/javascript" src="/public/main.js") 
        title mcq web app
    body 
        h1 MCQ Web App
        div#container 
            form#form(action="/" method="post")
                p.ques #{questions[0]['name']}
                input#option1(type="radio", name="option" value=`#{questions[0]['option_1']`)
                label(for="option1")  #{questions[0]['option_1']}
                br
                input#option1(type="radio", name="option" value="{questions[0]['option_2']}")
                label(for="option2")  #{questions[0]['option_2']}
                br
                input#option1(type="radio", name="option" value="{questions[0]['option_3']}")
                label(for="option3")  #{questions[0]['option_3']}
                br
                input#option1(type="radio", name="option" value="{questions[0]['option_4']}")
                label(for="option4")  #{questions[0]['option_4']}
                br   
                input(type="submit", value="Finish")
                button(onclick="alert('hello')") Next-> 
            button(onclick="save()") Save 